@mixin centeredFlex ($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;

}


// Міксин для обрізання тексту,  в інці якого  тексту просто поставиться...

// @mixin ellipsis () {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }




// Перший міксин використовуються в домашці, інші, що знизу - написала собі для прикладу. // при використанні такого міксину створиться 2 селектори з різними значеннями

// @mixin circle ($width, $height, $color) {
//     width: $width;
//     height: $height;    
//     background-color:$color;
//     border-radius: 50%;
// }

// p {
// @include circle (20px, 20px, red)
// }

// div{
// @include circle (120px, 120px, green)
// }




// для цього міксину, щоб він працював і згенерувалось чотири селектори для різних соц мереж необхідно у змінних задати значення $icons: facebook,instagram, github, linkedin ( наприклад, тоді до кожного згенерованого селектора застосується своя картинка, яка лежить к нас в папці image  з такими самими назвами, що і в перемінних ,або кольори можна поміняти і тд)

// $icons: facebook, instagram, github, linkedin

// @mixin generateIcons ($iconc) {
//     @each $iconName in $icons {
//         .icon-#{$iconName}{
//             background-image: url("../images/#$iconName.svg");
//         }
        
//     }
    
// }





// Директива @each для відступів mb (margin-bottom) з кроком у 8 пікселів. Буде створено 4 різних селектори mb-8px,mb-16px,mb-24px,mb-32px


// @each $mb in 8px,16px,24px,32px {
//     .mb-#{$mb} {
//         margin-bottom: $mb;
//     }
// }



// Скидання дефолтних значень браузера зайвих, які нам не потрібні.


// @mixin list () {
//     list-style: none;
//     margin: 0;
//     padding: 0;

// }