$primary-color: #212121;
$hero-color: #ffffff;
$secondary-color: #757575;
$accent-color: #2196f3;
$logo-dak-color: #000000;
$icons-hover-color: #2196f3;
$accent-background-color: #188ce8;
$hero-background-color: #2f303a;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303f;
$svg-background-color: #f5f4fa;
$svg-net-color: #afb1b8;
$image-background-color: rgba(47, 48, 58, 0.8);
$modal-background-color: rgba(0, 0, 0, 0.2);
$footer-mail-phone-color: rgba(255, 255, 255, 0.6);
$border-color-portfolio: #eeeeee;
$border-color-header: #ececec;
$input-border: rgba(33, 33, 33, 0.2);
$input-placeholder-footer: rgba(255, 255, 255, 0.6);
$card-portfolio-gap: 30px;

$primary-font:'Roboto',
sans-serif;
$secondary-font:'Raleway',
sans-serif;